/dist/*
/dist
/build/*
/build
/rover_arm.egg-info/*
/rover_arm.egg-info
/rover_arm/__pycache__
/rover_arm/__pycache__/*
/rover_arm/envs/__pycache__
/rover_arm/envs/__pycache__/*

/scripts*
/remote*
/Results*
hardcontrol.py
.DS_Store
sample.py
rover_arm/envs/__pycache__/__init__.cpython-39.pyc
.DS_Store
